[submodule "oh3-widgetHeating"]
	path = oh3-widgetHeating
	url = git@github.com:Rosi2143/oh3-widgetHeating.git
[submodule "temperature_card_multi_sensor"]
	path = temperature_card_multi_sensor
	url = git@gitlab.com:snippets/2331634.git
[submodule "openHAB3Widgets"]
	path = openHAB3Widgets
	url = https://github.com/BangerTech/openHAB3Widgets
[submodule "oh3-widgets"]
	path = oh3-widgets
	url = git@github.com:Rosi2143/oh3-widgets.git
[submodule "ScrewPlate"]
	path = ScrewPlate
	url = git@github.com:Rosi2143/ScrewPlate.git
